Web References/MessengerWebService/MessengerWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pilotcorp.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://pilotcorp.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pilotcorp.net/">
      <s:element name="PriceBookDownloadCompletedAlert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="locationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PriceBookDownloadCompletedAlertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PriceBookDownloadCompletedAlertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PriceBookDownloadCompletedAlertSoapIn">
    <wsdl:part name="parameters" element="tns:PriceBookDownloadCompletedAlert" />
  </wsdl:message>
  <wsdl:message name="PriceBookDownloadCompletedAlertSoapOut">
    <wsdl:part name="parameters" element="tns:PriceBookDownloadCompletedAlertResponse" />
  </wsdl:message>
  <wsdl:portType name="MessengerWebServiceSoap">
    <wsdl:operation name="PriceBookDownloadCompletedAlert">
      <wsdl:input message="tns:PriceBookDownloadCompletedAlertSoapIn" />
      <wsdl:output message="tns:PriceBookDownloadCompletedAlertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessengerWebServiceSoap" type="tns:MessengerWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PriceBookDownloadCompletedAlert">
      <soap:operation soapAction="http://pilotcorp.net/PriceBookDownloadCompletedAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessengerWebServiceSoap12" type="tns:MessengerWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PriceBookDownloadCompletedAlert">
      <soap12:operation soapAction="http://pilotcorp.net/PriceBookDownloadCompletedAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessengerWebService">
    <wsdl:port name="MessengerWebServiceSoap" binding="tns:MessengerWebServiceSoap">
      <soap:address location="http://knxintranet4/ElectronicBoardPricing/MessengerWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MessengerWebServiceSoap12" binding="tns:MessengerWebServiceSoap12">
      <soap12:address location="http://knxintranet4/ElectronicBoardPricing/MessengerWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>